<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.common.image">

    <application
        android:allowBackup="true"
        android:supportsRtl="true">

        <activity android:name=".activity.ImageBrowserActivity" />

        <meta-data
            android:name="com.bumptech.glide.integration.okhttp3.OkHttpGlideModule"
            android:value="GlideModule" />
        <meta-data
            android:name="com.common.image.glide.MyGlideModule"
            android:value="GlideModule" />

    </application>

</manifest>
