<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.common.app"
    android:versionCode="2"
    android:versionName="1.0.0">

    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name="com.common.app.ui.test.MainActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".ui.test.TestNetActivity" />
        <activity android:name=".ui.test.TestListViewActivity" />
        <activity android:name=".ui.test.TestImageLoaderActivity" />
        <activity android:name=".ui.test.TestMp3RecActivity" />
        <activity android:name=".ui.test.TestCacheActivity" />
        <activity android:name=".ui.test.TestImageBrowserActivity" />
        <activity android:name=".ui.test.TestPtrActivity" />

        <activity android:name=".ui.test.LoginActivity" />
    </application>

</manifest>
