<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.common.permission">

    <application
        android:allowBackup="true"
        android:supportsRtl="true">

        <!-- 请求权限 -->
        <activity
            android:name=".RequestPermissionActivity"
            android:configChanges="orientation|keyboard"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent"
            android:windowSoftInputMode="stateAlwaysHidden|adjustResize" />

    </application>

</manifest>
